#wrapper {
	padding:0 !important;
	margin:0 !important;
	background: rgb(242,246,248) !important;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmMmY2ZjgiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNiNWM2ZDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvcmFkaWFsR3JhZGllbnQ+CiAgPHJlY3QgeD0iLTUwIiB5PSItNTAiIHdpZHRoPSIxMDEiIGhlaWdodD0iMTAxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=) !important;
	background: -moz-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%, rgba(181,198,208,1) 99%) !important;
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,246,248,1)), color-stop(99%,rgba(181,198,208,1))) !important;
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 99%) !important;
	background: -o-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 99%) !important;
	background: -ms-radial-gradient(center, ellipse cover,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 99%) !important;
	background: radial-gradient(ellipse at center,  rgba(242,246,248,1) 0%,rgba(181,198,208,1) 99%) !important;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#b5c6d0',GradientType=1 ) !important;
}
#formLogin{
	position: absolute;
	width: 100%;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
	border-radius:10px;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 0px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}




/* 



.msgLogin{
	color: #C63232;
	padding: 5px;
	font-size: 0.9em;
	display: inline-block;
	margin: 10px 0;
	font-weight: bold;
}

.loginPanel{
	display: block;
	margin: 0px auto;
	width: 260px;
	margin-bottom: 55px !important;
}
.loginPanel > .panel-body{
	padding: 0 !important;
}
#loginAlert{
	margin-bottom: 0px !important;
}

 */
