/* DISABLE LOGOS */
a.logo-menu, .logo_sistema {
	display: block !important;
}
/* ---------------------- */
.logo_sistema, .logo_sistema_slide {
	background: url("#{resource['template/logo/logo.png']}") no-repeat
		center center;
	width: 120px;
	height: 55px;
	float: left;
}

a.logo-menu {
	background: #000 url("#{resource['template/logo/boxclick.png']}") 5px
		0px no-repeat !important;
	height: 40px;
	transition: none !important;
	width: 250px;
	display: block;
	position: absolute;
	margin: 8px auto;
	z-index: 0;
}

a.logo-menu:HOVER {
	background-color: #FFF !important;
	background-position: 5px -40px !important;
}

/* @media (max-width: 1135px) {
	body.leftMenu .logo_sisfenicia{
		display:none;
	}
} */
.logo-area {
	background-color: #262a33;
	border-bottom: 5px #191c21 solid;
	float: left;
	height: 55px;
	position: relative;
	text-align: center;
	width: 250px;
	display: block;
	z-index: 5;
}

body.leftMenu #header .logo-area {
	display: none;
}

#header .logo-area a.logo {
	width: 100%;
}

a.logo {
	background: url("#{resource['template/logo/logo_white.png']}") no-repeat
		center center;
	display: block;
	height: 50px;
	position: relative;
}

a.logo-menu {
	background: #000 url("#{resource['template/img/logo_white_icon.png']}")
		5px 0px no-repeat !important;
	height: 40px;
	transition: none !important;
	width: 250px;
	display: block;
	position: absolute;
	margin: 8px auto;
	z-index: 0;
}

a.logo-menu:HOVER {
	background-color: #FFF !important;
	background-position: 5px -40px !important;
}

.site-logo {
	background: url("#{resource['template/img/logo_.png']}") no-repeat
		center center;
	display: block;
	height: 75px;
	position: relative;
}

#header .logo-area {
	float: none;
	height: 55px;
	position: absolute;
	width: 100%;
}

#header a.logo {
	width: 250px;
}

#header .logo-area a.logo {
	/* background-size: 90px 23px; */
	width: 120px;
}

body.leftMenu .logo-area {
	display: block !important;
	/* background-color: #101215; */
	border-bottom: 5px #262a33 solid;
}

body.leftMenu .logo-area .logo {
	/* background-image: none; */
}

/*
body.leftMenu {
  background: url("#{resource['template/img/logo_white_icon.png']}") no-repeat;
  background-position: 11px 10px;
  background-color: #262a33;
}
body.leftMenu:after {
  content: "";
  position: absolute;
  width: 250px;
  height: 5px;
  top: 50px;
  background-color: #191c21;
  z-index: -1;
}
*/

/*
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  #header .logo-area a.logo {
    background: url("#{resource['template/img/logo2x.png']}") no-repeat center center;
    background-size: 120px 30px;
  }

  .site-logo {
    background: url("#{resource['template/img/logo_2x.png']}") no-repeat center center;
    background-size: 75px 75px;
  }
} 
*/