/* @font-face {
  font-family: 'Glyphicons Halflings';
  src: url("#{resource['template/fonts/glyphicons-halflings-regular.eot']}");
  src: url("#{resource['template/fonts/glyphicons-halflings-regular.eot']}&#iefix") format('embedded-opentype'),
      url("#{resource['template/fonts/glyphicons-halflings-regular.woff']}") format('woff'),
      url("#{resource['template/fonts/glyphicons-halflings-regular.woff2']}") format("woff2"),
      url("#{resource['template/fonts/glyphicons-halflings-regular.ttf']}") format('truetype'),
      url("#{resource['template/fonts/glyphicons-halflings-regular.svg']}#glyphicons_halflingsregular") format('svg');
} */

#infoPage{
	display: block;
	background: #000 none repeat scroll 0% 0%;
	color: #FFF;
	text-align: center;
	/* padding: 5px; */
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 9999;
}

@media print {
    /* #header, #footer, #menu { 
        display: none;
    } */
    body{
    	background: none;
    }
}

.widget-top-search form h2{
	font-size: 2em;
}

/* #menu{
	margin-top: 55px;
}
.mm-menu.mm-hassearch .mm-panel{
	padding-top: 195px !important;
} */
.mm-menu > .mm-panel{
	padding-right: 10px !important;
}
@media (max-width: 768px) {
	body.leftMenu #header{
		left: 0;
	}	
	#header .tools-bar {
		padding: 0 5px 0 0;
	}
}
@media (max-width: 1080px) {
	body:not(.nav-collapse) .hidden-sm{ 
		display: none;
	}
}

@media (max-width: 950px) {
	body:not(.nav-collapse) .hidden-sm{ 
		display: none;
	}
}

@media (min-width: 769px) and (max-width: 940px) {
	body:not(.in) #header {
	  -webkit-transform: translate3d(0, 0, 0);
	  -moz-transform: translate3d(0, 0, 0);
	  -ms-transform: translate3d(0, 0, 0);
	  -o-transform: translate3d(0, 0, 0);
	  transform: translate3d(0, 0, 0);
	  right: 0;
	  left: 0;
	}
	body:not(.in) #main {
	  -webkit-transform: translate3d(-250px, 0, 0);
	  -moz-transform: translate3d(-250px, 0, 0);
	  -ms-transform: translate3d(-250px, 0, 0);
	  -o-transform: translate3d(-250px, 0, 0);
	  transform: translate3d(-250px, 0, 0);
	  right: -250px;
	}
	body:not(.in) #nav {
	  -webkit-transform: translate3d(-100px, 0, 0);
	  -moz-transform: translate3d(-100px, 0, 0);
	  -ms-transform: translate3d(-100px, 0, 0);
	  -o-transform: translate3d(-100px, 0, 0);
	  transform: translate3d(-100px, 0, 0);
	  filter: alpha(opacity=0);
	  opacity: 0;
	}
}

@media (max-width: 550px) {
	body.leftMenu .toggle-menu {
	    display: block;
	    visibility: hidden;
	}
}


#menu .mm-search input {
    width: 80%;
    margin-left: 40px;
}

a.logo-menu {
	background: #000 url("#{resource['template/logo/boxclick.png']}") 5px 10px no-repeat !important;
	height: 55px;
	transition: none !important;
	width: 250px;
	display: block;
	position: absolute;
	/* margin: 8px auto; */
	z-index: 0;
}
a.logo-menu:HOVER {
	background-color: #FFF !important;
	background-position: 5px -30px !important;
}
/* #header a.logo{
	width: auto;
} */

.validetta-bubble{
	min-width: 150px;
}
.input-group{
	margin: 10px auto 0;
}
.formFieldError{
	color:red;	
}
.input-group-addon{
	max-width: 36px;
}
.input-group-addon.primary {
    color: rgb(255, 255, 255);
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
}
.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}

.zoom{
    transition:All 0.25s 1 ease !important;
    -webkit-transition:All 0.25s 1 ease !important;
    -moz-transition:All 0.25s 1 ease !important;
    -o-transition:All 0.25s 1 ease !important;
    transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
    -webkit-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
    -moz-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
    -o-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;
    -ms-transform: rotate(0deg) scale(1) skew(0deg) translate(0px) !important;  
}
.zoom:hover{
    transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px) !important;
    -webkit-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px) !important;
    -moz-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px) !important;
    -o-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px) !important;
    -ms-transform: rotate(0deg) scale(1.2) skew(0deg) translate(0px) !important;
}
.sombra{
	-webkit-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.88);
    -moz-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.88);
    -o-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.88);
    -ms-box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.88);
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.88);
}
.sombraTexto{
	text-shadow: 
	-1px -1px 2px rgba(255, 255, 255, 0.9), 
	1px 1px 2px rgba(255, 255, 255, 0.9), 
	2px 2px 6px rgba(0, 0, 0, 0.8),
	0px 0px 10px rgba(0, 0, 0, 0.9);
}
.sombraTexto2{
	-webkit-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.74);
    -moz-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.74);
    -ms-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.74);
    -o-text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.74);
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.74);
}

a.scrollup {
  display: none;
  background: #2B2E33;
  height: 32px;
  width: 32px;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  text-decoration: none;
  position: fixed;
  bottom: 10px;
  right: 25px;
  z-index: 9999;
  opacity: .5;
  -moz-border-radius: 50% !important;
  -webkit-border-radius: 50% !important;
  border-radius: 50% !important;
  border-radius: 16px;
}
a.scrollup i {
  display: inline-block;
  padding-top: 3px;
}
a.scrollup:hover {
  opacity: 1;
  color: #fff;
}

.mm-search input{
	padding: 6px 10px;
}

.ios-switch .has-switch span{
	display: none;
}

.dropdown-menu > li > a{
	color: #333 !important;
}

html.no-touch #nav-scroll, html.no-touch #mailbox #nav-scroll{
	padding-right: 10px;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg{
	/* display: block !important; */
}
.ios-switch .has-switch::before, .ios-switch .has-switch::after {
	background-color: #C5C5C5;
}


.ui-growl{
    top:70px !important;
}
.ui-widget{
	/* font-size: 0.9em !important; */
}
.ui-dialog .ui-dialog-buttonpane{
	text-align: center !important;
}
.ui-dialog .ui-dialog-title{
	margin-top: -10px !important;
	margin-bottom: -10px !important;
}
.ui-dialog.ui-widget-content .ui-dialog-titlebar{
	padding: 10px;
	border-bottom: 1px solid #A1A1A1;
	background-color: #FFE1E1;
}
.ui-confirm-dialog .ui-dialog-content{
	padding: 10px !important;
}

.ui-widget-header{
	background-image: none !important;
}

.modal-header{
	height: 50px !important;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YzZjNmMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #F2F4FF 50%,#E7EAFF 51%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#F2F4FF), color-stop(51%,#E7EAFF), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#F2F4FF 50%,#E7EAFF 51%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#F2F4FF 50%,#E7EAFF 51%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#F2F4FF 50%,#E7EAFF 51%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#F2F4FF 50%,#E7EAFF 51%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-8 */
	border-radius:10px;
	border-bottom-right-radius:0px;
	border-bottom-left-radius: 0px;
	box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.5);
	z-index: 1;
	position: relative;
}
.modal-header h4{
	margin-top: 1px;
}


.ui-datatable table > thead > tr > th {
	/*
    background: #f6f8f9;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZjhmOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U1ZWJlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Q3ZGVlMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNWY3ZjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); 
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6f8f9), color-stop(50%,#e5ebee), color-stop(51%,#d7dee3), color-stop(100%,#f5f7f9)); 
	background: -webkit-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); 
	background: -o-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%); 
	background: -ms-linear-gradient(top,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	background: linear-gradient(to bottom,  #f6f8f9 0%,#e5ebee 50%,#d7dee3 51%,#f5f7f9 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=0 );
    */
    background: #f0f0f0; 
}
.table thead > tr > th, .table tbody > tr > th, 
.table tfoot > tr > th, .table thead > tr > td, 
.table tbody > tr > td, .table tfoot > tr > td {
    border-top: 1px solid #C8C8C8 !important;
    padding: 5px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    font-weight: bold;
    color: #555;
    font-size: 1em;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); */
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	/* background-color: inherit; */
	/* background-image: inherit; */
}
.ui-button, button.ui-button.ui-state-default, .ui-button.ui-state-default{
	transition:inherit;
	box-shadow: none !important;
}

.table > tbody > tr > td, .table > tfoot > tr > td{
	padding: 4px 5px !important;
	vertical-align: middle !important;
}

.noui{
	margin:5px 0 15px 15px !important;
}

.ui-datatable{
	background: rgb(255, 255, 255) none repeat scroll 0% 0%;
	border: 1px solid rgba(51, 51, 51, 0.26);
	border-radius: 10px;
	padding: 5px;
}

.control-label{
	padding-top: 8px;
}

.dropdown-menu, .form-control, .form-group-vertical, .input-group-addon, .btn-default{
	border-radius:5px;
}

.btn {
	border-radius: 5px !important;
}

.form-horizontal .control-label{
	width: 100%;
	color: #5D5C5C;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
	padding-left: 10px;
	padding-right: 10px;
}

.form-control{
	width: 100% !important;
	border-color: rgba(62, 57, 113, 0.3);
	height: 30px;
	padding: 3px 10px;
}
.filter .form-control{
	margin-top: 2px;
}

/* ESCONDE LOGO CLIENTE */
/* a.logo{
	background: none;
} */

.form-horizontal .form-group {
    margin-right: 0px;
    margin-left: 0px;
}

.ui-selectonemenu .ui-selectonemenu-trigger {
	width: 25px;
	/* margin-right: 10px; */
}


.modal-content {
    /* background: #F6F6F6; */
    background: #F1F2F6;
}
.ui-widget input, .ui-widget textarea{
	background: #FFF;
}

body.leftMenu .mm-menu:not(.mm-right) .mm-list {
    box-shadow: -10px 0px 24px 0px rgb(0, 0, 0) inset;
}

.row {
    margin-bottom: 3px;
}

.ui-widget .ui-widget {
    font-size: 0.85em;
}

.ui-selectonemenu-panel .ui-selectonemenu-filter {
    width: 85%;
    padding-right: 15px;
    height: 30px;
    font-size: 0.85em !important;
}

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
    opacity: 0.5;
}

.ui-panel .ui-panel-titlebar {
    padding: 0.5em 1em 0.3em;
    background: #D0D1D5;
    box-shadow: 0px 1px 6px rgba(9, 7, 80, 0.27);
    border: 1px solid #FFF;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color: #000;
}
#main{
	box-shadow: 2px 90px 27px -19px rgba(107, 107, 107, 0.5) inset;
}

.ui-messages-error, .ui-message-error {
    color: #B94A48;
    background-color: #EAD6D6;
    border-color: #FFF;
    box-shadow: 0px 1px 9px rgba(255, 0, 0, 0.24), 0px 1px 9px rgba(255, 0, 0, 0.24) inset;
    border: 3px solid #FFF;
    border-radius: 11px;
    margin-top: 3px;
    margin-bottom: 15px;
}
.modal-header .close {
    margin-top: -2px;
    padding: 0px 10px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Open Sans";
    font-weight: 300;
    margin: 0px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}
.modal-header h4{
	text-shadow: none;
}
/* .ui-state-default .ui-icon{
	-webkit-filter: invert(1); -moz-filter: invert(1); -o-filter: invert(1); -ms-filter: invert(1); filter: invert(1);
} */

.ui-inputfield, .ui-widget-content .ui-inputfield, .ui-widget-header .ui-inputfield {
	border-radius: 5px;
	padding: 3px !important;
	margin-bottom: 5px !important;
	height: 30px !important;
	width: 100% !important;
	background: #FFF;
}

.ui-spinner-input {
    padding-right: 20px !important;
}

.ui-selectonemenu .ui-inputfield{
	margin-bottom: 0 !important;
	height: auto !important;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight{
	color: #FFF !important;
	text-shadow: none;
}

.row .form-group {
    margin-bottom: 5px;
}

.multiselect-container > li > a > label {
    padding: 1px 24px 1px 20px;
}
.multiselect-container > li > a > label > input[type="checkbox"] {
    margin-bottom: 0px;
    margin-top: 2px;
}

.dropdown-menu > .active > a {
    color: #FFF !important;
}

.item-status{
	/* background: #000; */
	float: left;
}
.ios-switch.item-status .has-switch label{
	width: 20px;
	height: 20px;
}
.ios-switch.item-status .has-switch {
	height: 24px;
	width: 44px;
}
.ui-datatable .ui-widget-content .ui-state-default{
	padding: 1px;
	border-radius: 15px;
}
.ui-datatable .ui-widget-content .ui-state-default {
    border: 2px solid rgba(255, 255, 255, 0) !important;
}
.ui-datatable .ui-widget-content .ui-state-default:hover {
    box-shadow: 0px 0px 9px -1px rgba(71, 69, 137, 0.41) !important;
    border: 2px solid #FFF !important;
}
.ios-switch .has-switch{
	cursor: unset;
}

.ui-paginator.ui-paginator-bottom {
    border-top: 0px none;
    background: #F0F0F0 none repeat scroll 0% 0%;
}

table.dataTable thead .sorting::after, table.dataTable thead .sorting_asc::after, table.dataTable thead .sorting_desc::after, table.dataTable thead .sorting_asc_disabled::after, table.dataTable thead .sorting_desc_disabled::after {
    bottom: 5px;
    right: 17px;
}

.table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover > td {
    background-color: #E9E9E9 !important;
    color: #000 !important;
}
.center{
    text-align: center;
}
.left{
    text-align: left;
}
.right{
    text-align: right;
}

table.fixedHeader-floating{
    margin-top:55px !important;
}
table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected,
table.dataTable tbody > tr.selected > td,
.shown, .shown >td {
	background-color:#74AFCC !important;
    color:#FFF !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
	padding: 0px;
	padding-left: 1px;
}
a.dt-button.btn-click {
    margin: 5px;
    position: relative;
}
.dataTables_filter .form-control {
	width: auto !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
	border: 1px solid transparent;
}
div.dataTables_filter label {
	margin-top: 5px;
}
div.dt-button-collection.fixed.two-column {
    border-radius: 15px;
    padding: 10px;
}
.dataTables_wrapper .dataTables_length {
    margin-top: 7px;
}
div.dataTables_wrapper div.dataTables_length select {
    width: auto !important;
}
div.dt-buttons {
    position: relative;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
}

.selectpicker, .dataTables_length .form-control .btn, .bootstrap-select .btn{
	padding: 2px 5px !important;	
}

legend {
    width: auto;
}

.ui-panel {
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.27);
	margin: 5px auto;
	border: 1px solid #A6C9E2;
}

table.dataTable.no-footer {
    border-bottom: 1px solid #B7B1B1;
}
.ui-spinner-button {
	height: 45%;
}
.ui-spinner-down {
    bottom: 5px;
}

.bootstrap-select:not([class*="span"]):not([class*="col-"]):not([class*="form-control"]) {
    width: 100%;
}
.fc-row .fc-content-skeleton td, .fc-row .fc-helper-skeleton td {
    background: rgba(0, 0, 0, 0.07) none repeat scroll 0% 0%;
}
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #000 !important;
    font-weight: bold;
}

.modal-danger .modal-header {
    background: #A12B2B none repeat scroll 0% 0%;
    border-radius: 5px 5px 0px 0px;
}
.modal-danger .modal-header .close{
	color: #FFF !important;
	opacity: 1 !important;
}
.modal-danger .modal-header h4 {
	color: #FFF;
	font-weight: bold;
	text-shadow: 1px 2px 4px rgba(0, 0, 0, 0.43);
}

.table-danger .ui-datatable-header{
	background: rgb(203, 109, 109) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	text-align: left;
	font-size: 16px;
}
.table-danger .ui-datatable-footer{
	background: rgb(203, 109, 109) none repeat scroll 0% 0%;
	color: rgb(255, 255, 255);
	text-align: right;
	font-size: 16px;
}
.barratop-caixa{
	background: rgb(43, 60, 102) none repeat scroll 0% 0%; 
	display: block; 
	text-align: right; 
	padding-right: 12px; 
	padding-bottom: 2px; 
	color: rgb(255, 255, 255);	
}
.barratop-caixa a {
  color: #FFF;
}
.barratop-caixa a:hover {
  color: #AEBEEA;
  text-decoration: none;
}

.btn-icon{
	margin: 15px;
}

.breadcrumb > .active a {
	color: #000;
}

.modal-sm .modal-header h4 {
    margin-top: -9px;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
    color: #FFF !important;
    font-weight: bold;
}

.datetimepickerFiltroEstacionamento input{
	width: 118px !important;
	text-align: center;
}

#dataTable{
	width: 100% !important;
}

.dataTables_length .bootstrap-select, .dataTables_length .bootstrap-select .dropdown-toggle{
	width: 60px !important;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child::before, 
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child::before {
    top: 10px;
    left: 15px;
}
.tableDetails{
	
}

.dataTable tr.parent > td, .dataTable tr > td.child {
	background: #D4DFFF none repeat scroll 0% 0% !important;
}

.table-hover > tbody > tr:hover, .table-hover > tbody > tr:hover > td {
    background: #D4DFFF none repeat scroll 0% 0% !important;
    color: #000 !important;
}

.select-filter .bootstrap-select .dropdown-toggle .filter-option{
	width: 80% !important;
}

.bootstrap-select.btn-group .btn .caret {
    right: 6px;
}
.datetimepickerFiltroEstacionamento input{
	margin-top: -3px;
}