<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	<display-name>HelloServletEclipse</display-name>

	<!-- 1º ) SERVLET - Rest api = endpoint /server ... -->
	<servlet>
		<servlet-name>HelloServletEclipse</servlet-name>
		<servlet-class>com.cap.servlet.HelloServletEclipse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HelloServletEclipse</servlet-name>
		<url-pattern>/server</url-pattern>
	</servlet-mapping>

	<!-- 2º ) SERVLET - Rest api = endpoint /info ... -->
	<servlet>
		<servlet-name>info</servlet-name>
		<servlet-class>com.cap.servlet.InfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>info</servlet-name>
		<url-pattern>/funcionarios</url-pattern>
	</servlet-mapping>

	<!-- 1º ) FILTER - /* ... -->
	<filter>
		<filter-name>logSpecial</filter-name>
		<filter-class>com.cap.filter.LogFilterImpl</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>logSpecial</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- HOME ... -->
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>